[Input]
# Paths to file, comma separated
Paths=/path/to/file/*.log,/path/to/file/multi/*/*.log
# If reading file from beginning and filesize > MaxBytes and MaxBytes != -1 we read the last MaxBytes from file
MaxBytes=1024000

[Registry]
# Path
Path=/path/to/file/input_file.reg
